@import "https://unpkg.com/@liqvid/recording/dist/style.css";

#watch {
  font-size: 3em;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  pointer-events: none;
}

#targets {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  pointer-events: none;
}

.lv-cursor {
  height: 1em;
  z-index: 1000;
}

select {
  font-size: 2em;
  position: absolute;
  left: 45%;
  top: 50%;
}
