html, body, #root, .App {
  height: 100%;
  width: 100%;
}

/* scale font size with video */
#root {
  background-color: #fff;
  font-size: calc(5vw / 6);
}

.lv-cursor {
  height: 2em;
}

#watch {
  font-size: 3em;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  pointer-events: none;
}

#targets {
  background: #0001;
  position: absolute;
  top: 20%;
  left: 20%;
  aspect-ratio: 2;
  width: 60%;
  pointer-events: none;
}

select {
  font-size: 2em;
  position: absolute;
  left: 45%;
  top: 50%;
}
